/* https://www.youtube.com/watch?v=nMYM5_svGLM&ab_channel=SolarDev */

body{
    background-color: blueviolet;
    font-family: "roboto", "sans serif";
}

.wrap{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrap > * {
    padding: 8px;
    margin: 8px;
    flex: 1 100%;    
}

.header{height: 110px;background-color: chocolate;}
.main{height: 320px;background-color: green;}
.side-left{background-color: red;}
.side-right{background-color: blue;}
.footer {height: 100px;background: palevioletred;}



/* 
Lorsque la largeur de la fenêtre est d'au moins 600px, 
les sections latérales (.side) prennent chacune la même proportion de l'espace disponible (flex: 1). 
*/
@media all and (min-width: 600px){
    .side {flex: 1;}
}


/*
Lorsque la largeur de la fenêtre est d'au moins 800px, les règles suivantes s'appliquent :
.main prend trois fois plus d'espace (flex: 3).
L'ordre d'affichage change :
.side-left vient en premier.
.main vient en deuxième.
.side-right vient en troisième.
.footer vient en quatrième.
*/
@media all and (min-width: 800px){

    .main{flex: 3;}
    .main{order: 2;}
    .side-left{order: 1;}
    .side-right{order: 2;}
    .footer{order: 4;}
}